.header_img {
    width:70px;
}
p.header_title{
    font-size: 2rem;
    padding-top:10px ;
    /* margin-bottom: 100px; */
    font-family: "Nikukyu";
    color: #e3adc1;
}
.header-area {
    background-color: #fff;
    display: flex;
    width: 100%;
    margin: 0 auto;
}
.left_header,
.header_block {
    padding: 5px;
    display: flex;
    width: 100%;
    /* position: relative; */
}
.right_header {
    padding: 5px;
    margin-right: 0;
    margin-left: auto;
    width: 50%;
    /* display: inline-flex; */
    /* float: right; */
}
.logo_center {
    display: flex;
    align-items: center;
}
.header_bottom {
    width: 100%;
    clear: both;
    overflow: hidden;
    /* margin: 10px auto; */
    font-size: 1.3rem;
}
.header_bottom ul {
    margin: 0;
    padding: 0;
    display: flex;
}
.header_bottom ul li {
    width: 100%;
    margin: 0 auto;
    /*margin-right: 1px;
    */text-align: center;
    border: solid 1px #3f3f3f;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.header_bottom ul li a {
    display: block;
    padding: 15px;
    background-color: #ffc0cb;
    color: #3f3f3f;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    transition: background-color 0.3s linear;
    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -ms-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
}
.header_bottom ul li a:hover {
    background-color: #ffd1e8;
}
